/* ------------------------- */
/* Project  : Run Buddy      */
/* File     : index.html     */
/* Author   : Vicente Garcia */
/* Date     : 02/03/2022     */
/* Modified : 02/12/2022     */
/* ------------------------- */
/* Variables */
:root{
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}
*{
    /* Apply margin to whole page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Add space and justify content of the flexbox */
    justify-content: space-between;
    /* Add wrap to move other line when resizes */
    flex-wrap: wrap;
}
body{
    /* Apply font and color to body */
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    /*background-color: tomato;*/
}
header{
    /* Apply space and background color to header */
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    /* Add flexbox */
    display: flex;
    /* Add sticky for Safari */
    position: -webkit-sticky;
    /* Add sticky */
    position: sticky;
    top: 0;
    /* Copy from hero */
    background-image: url("../images/hero-bg.jpg");
    background-position: 80%; /*center;*/
    background-size: cover;
    /* Fix header image */
    background-attachment: fixed;
    /* Fix scrolling checkbox and radio */
    z-index: 9999;
}
header h1{
    /* Apply font, color and alignment to h1 in header */
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    /* display: inline; */ /* Remove to replace with flexbox*/
    /* Add shadow transparency */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a{
    /* Apply shape and color to anchors */
    text-decoration: none;
    color: var(--primary-color);
}
header nav{
    /* Apply style to navigation */
    /*float: right;*/ /* Remove to replace with flexbox */
    margin: 7px 0;
}
/* Delete rule to apply flexbox instead of box content */
/*header nav ul li{
    /* Apply alignment to header's elements -/
    display: inline;
}*/
/* Add new rule to flexbox */
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    /* Apply space and shape font to navigation's elements */
    /*margin: 0 30px;*/ /* Replace to mobile */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; /* Modify 22px to 1.55vw to flexbox */
    /* Add shadow transparency */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Add pseudo-class */
header nav ul li a:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
footer{
    /* Apply background color and alignment to footer */
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    /* Add flexbox */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2{
    /* Apply color and font size to h2 element in footer */
    /*display: inline;*/ /* Remove to replace with flexbox */
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
footer div{
    /* Add alignment to container  div in footer */
    /*float: right;*/ /* Remove to replace with flexbox */
    line-height: 1.5;
    text-align: right;
}
footer a{
    /* Apply color to anchors in footer */
    color: var(--secondary-color);
}
section{
    /* Apply padding to sections */
    padding: 60px;
}
.hero{
    /* Add background image to hero */
    background-image: url("../images/hero-bg.jpg");
    /*height: 600px;*/ /* Remove to replace with flexbox */
    background-position: 80%; /*center;*/
    /* Fix header image */
    background-attachment: fixed;
    background-size: cover;
    /*position: relative;*/ /* Remove to replace with flexbox */
    /* Add flexbox */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Mobile */
    align-items: flex-start;
}
.hero-form{
    /* Add style to form */
    color: var(--secondary-color);
    /* Change background to color transparency */
    /*background-color: #fce138;*/
    background-color: rgba(252, 225, 56, 0.8);
    padding: 20px;
    /*width: 500px;*/ /* Remove to replace with flexbox */
    /* Add style to margin */
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    /* Position of the form */
    /*position: absolute;*/ /* Remove to replace with flexbox */
    /*bottom: 120px;*/ /* Remove to replace with flexbox */
    /*right: 140px;*/ /* Remove to replace with flexbox */
    /* Add width and margin to flexbox */
    width: 40%;
    margin: 3.5%;
    /* Add shadow transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add rounded corners */
    border-radius: 15px;
}
/* Add style to class of flexbox */
.hero-cta{
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2; /*1.3;*/
}
/* Add style to h2 of flexbox */
.hero-cta h2{
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    /* Add shadow transparency */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero-form h3{
    /* Add style to title in form */
    font-size: 24px;
    margin: 0;
}
.hero-form p{
    /* Add margin to elements in the form */
    margin: 5px 0 15px 0;
}
.form-input{
    /* Add style to form */
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    /* Add rounded corners and transparent area */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
/* Add rule for focus state */
.form-input:focus{
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
.hero-form label{
    /* Add margins to labels */
    margin: 0 5px;
}
.hero-form button{
    /* Add style to button */
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    /* Add rounded corners */
    border-radius: 10px;
}
/* Add pseudo-class */
.hero-form button:hover{
    background-color: var(--tertiary-color);
}
/* Add wrap to radio button and checkbox */
.checkbox-wrapper input, .radio-wrapper input{
    opacity: 0;
}
.checkbox-wrapper input + label::after, .radio-wrapper input + label::after{
    content: none;
}
.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after{
    content: "";
}
/* Add wrap to labels in radio button and checkbox */
.checkbox-wrapper label, .radio-wrapper label{
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}
/* Add pseudo elements for buttons */
.checkbox-wrapper label::before, .radio-wrapper label::before{
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}
.radio-wrapper label::before{
    border-radius: 50%;
}
.radio-wrapper label::after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}
.checkbox-wrapper label::after{
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}
/* Delete rule to apply flexbox instead of box content */
/*.intro{
    /* Add alignment to section what we do -/
    text-align: center;
}*/
.section-title{
    /* Add style to h2 in all sections */
    font-size: 48px; /*55px;*/
    color: var(--secondary-color);
    /*margin-bottom: 35px;*/ /* Remove to replace with flexbox */
    /*padding: 0 100px 20px 100px;*/ /* Remove to replace with flexbox */
    border-bottom: 3px solid;
    /*display: inline-block;*/ /* Remove to replace with flexbox */
    /* Add declarations to flexbox */
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border{
    /* Add line color to section what we do */
    border-color: var(--primary-color);
}
.secondary-border{
    /* Add line color to section what you do */
    border-color: var(--tertiary-color);
}
.intro p{
    /* Add style to text */
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    /* Add to flexbox */
    text-align: center;
}
.steps{
    /* Add alignment and background color to section what you do */
    /*text-align: center;*/ /* Remove to replace with flexbox */
    background: var(--primary-color);
}
/* Add class step to flexbox */
.step{
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    /*border-bottom: 1px solid #39a6b2;*/ /* Delete to use last child pseudo class */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step:not(:last-child){
    border-bottom: 1px solid var(--tertiary-color);
}
/* Delete rule to apply flexbox instead of box content */
/*.steps div{
    /* Add margin to steps -/
    margin-bottom: 80px;
}*/
/* Delete rule to apply flexbox instead of box content */
/*.steps img{
    /* Add style to image -/
    width: 15%;
    margin: 10px 0;
}*/
/* Rename selector from steps to step */
.step h3{
    /* Add style to title */
    color: var(--secondary-color);
    font-size: 46px;
    /*margin-top: 10px;*/ /* Remove to replace with flexbox */
    /* Add style to flexbox */
    flex: 1 30%;
}
/* Add class step-info to flexbox */
.step-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* Add class step-img to flexbox */
.step-img{
    flex: 1 12%;
    margin-right: 20px;
}
/* Add class step-img to img in flexbox */
.step-img img{
    max-width: 100%;
}
/* Add class step-text to flexbox */
.step-text{
    flex: 12;
}
/* Change class from steps to step-text  */
.step-text p {
    /* Add color and size to paragraph */
    color: var(--tertiary-color);
    font-size: 18px; /*23px;*/
}
.step-text h4{
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}
/* Delete rule to apply flexbox instead of box content */
/*.steps span{
    /* Add size to font to next text in title -/
    font-size: 38px;
}*/
.trainers{
    /* Add alignment to section trainers */
    /*text-align: center;*/ /* Remove to replace with flexbox */
    /* Add flexbox style */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer{
    /* Add style to each trainer */
    /*width: 900px;*/ /* Remove to replace with flexbox */
    margin: 20px; /*0 auto 30px auto;*/
    background: var(--secondary-color);
    color: var(--primary-color);
    /*overflow: auto;*/ /* Remove to replace with flexbox */
    flex: 1;
}
.trainer img{
    /* Add style to trainer's image */
    width: 100%; /*35%;*/
    /*float: left;*/ /* Remove to replace with flexbox */
    
}
.trainer-bio{
    /* Add margins to trainer's bio */
    padding: 25px; /*35px;*/
    /*float: left;*/ /* Remove to replace with flexbox */
    /*width: 65%;*/ /* Remove to replace with flexbox */
    line-height: 1.3;
}
.trainer-bio h3{
    /* Add format to trainer's name */
    font-size: 28px; /*32px;*/
    /*margin-bottom: 8px;*/ /* Remove to replace with flexbox */
}
.trainer-bio h4{
    /* Add format to trainer's strength */
    font-weight: lighter;
    font-size: 22px; /*26px;*/
    margin-bottom: 15px; /*25px;*/
}
.trainer-bio p{
    /* Add format to trainer's info */
    font-size: 17px;
}
.text-left{
    /* Alignment to left */
    text-align: left;
}
.text-right{
    /* Alignment to right */
    text-align: right;
}
/* Add style to class flex-row */
.flex-row{
    display: flex;
}
.contact{
    /* Alignment contact section */
    /*text-align: center;*/ /* Remove to replace with flexbox */
    background: var(--secondary-color);
}
/* Add flexbox to contact info */
.contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Add flexbox to contact info>* */
.contact-info > *{
    flex: 1;
    margin: 15px;
}
.contact h2{
    /* Add color to contact title */
    color: var(--primary-color);
}
.contact-info iframe{
    /* Size map */
    /*width: 400px;*/ /* Remove to replace with flexbox */
    height: 400px;
}
.contact-info div{
    /* Add style to contact */
    /*width: 410px;*/ /* Remove to replace with flexbox */
    /*display: inline-block;*/ /* Remove to replace with flexbox */
    /*vertical-align: top;*/ /* Remove to replace with flexbox */
    /*text-align: left;*/ /* Remove to replace with flexbox */
    /*margin: 30px 0 0 60px;*/ /* Remove to replace with flexbox */
    color: white;
}
.contact-info h3{
    /* Add font and color to title */
    color: var(--primary-color);
    font-size: 32px;
}
.contact-info p, .contact-info address{
    /* Add style to paragraph and contact info */
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px; /*20px;*/
    font-style: normal;
}
.contact-info a{
    /* Color to email */
    color: var(--primary-color);
}
/* Add rule to contact in flexbox */
.contact-form input, .contact-form textarea{
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    /* Add rounded corners and transparent area */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
/* Add rule for focus state */
.contact-form input:focus, .contact-form textarea:focus{
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
/* Add rule to contact button in flexbox */
.contact-form button{
    width: 100%;
    border: none;
    background:var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    /* Add rounded corners */
    border-radius: 10px;
}
/* Add pseudo-class */
.contact-form button:hover{
    color: var(--primary-color);
    background: var(--tertiary-color);
}
/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px){
    header{
        padding-bottom: 0%;
        justify-content: center;
        /* Fix mobile devices space */
        position: relative;
    }
    header h1{
        width: 100%;
        text-align: center;
    }
    header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a{
        font-size: 20px;
    }
    header h2, footer div{
        text-align: center;
        width: 100%;
    }
    .hero-cta, .hero-form{
        width: 100%;
    }
    .hero-cta{
        text-align: center;
    }
    .section-title{
        width: 80%;
    }
    .trainer{
        flex: 0 70%;
    }
    .contact-info iframe{
        flex: 1 100%;
    }
}
/* Media Query for tablets and smaller */
@media screen and (max-width: 768px) {
    section{
        padding: 30px 15px;
    }
    .step h3{
        flex: 1 100%;
        text-align: center;
    }
    .step-info{
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-img{
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .step-text{
        flex: 100%;
    }
}
/* Media Query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .hero-form button{
        width: 100%;
    }
    .section-title{
        width: 95%;
    }
    .intro p{
        width: 100%;
    }
    .trainer{
        flex: 0 100%;
    }
    .contact-info{
        text-align: center;
    }
    .contact-info > *{
        flex: 0 100%;
    }
    .contact-form{
        order: 3;
    }
}