/* ------------------------- */
/* Project  : Run Buddy      */
/* Author   : Vicente Garcia */
/* Date     : 02/03/2022     */
/* Modified : 02/04/2022     */
/* ------------------------- */
*{
    /* Apply margin to whole page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* Apply font and color to body */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    /*background-color: tomato;*/
}
header{
    /* Apply space and background color to header */
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1{
    /* Apply font, color and alignment to h1 in header */
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
header a{
    /* Apply shape and color to anchors */
    text-decoration: none;
    color: #fce138;
}
header nav{
    /* Apply style to navigation */
    float: right;
    margin: 7px 0;
}
header nav ul li{
    /* Apply alignment to header's elements */
    display: inline;
}
header nav ul li a{
    /* Apply space and shape font to navigation's elements */
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
footer{
    /* Apply background color and alignment to footer */
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}
footer h2{
    /* Apply color and font size to h2 element in footer */
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div{
    /* Add alignment to container  div in footer */
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a{
    /* Apply color to anchors in footer */
    color: #024e76;
}
section{
    /* Apply padding to sections */
    padding: 60px;
    
}
.hero{
    /* Add background image to hero */
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-form{
    /* Add style to form */
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    /* Add style to margin */
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    /* Position of the form */
    position: absolute;
    bottom: 120px;
    right: 140px;
}
.hero-form h3{
    /* Add style to title in form */
    font-size: 24px;
    margin: 0;
}
.hero-form p{
    /* Add margin to elements in the form */
    margin: 5px 0 15px 0;
}
.form-input{
    /* Add style to form */
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label{
    /* Add margins to labels */
    margin: 0 5px;
}
.hero-form button{
    /* Add style to button */
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
.intro{
    /* Add alignment to section what we do */
    text-align: center;
}
.intro h2{
    /* Add style to section what we do */
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
}
.intro p{
    /* Add */
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}